.App {
  align-self: center;
  display: grid;
  gap: 10px;
  padding: 20px;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-areas: 'algorithm' 'slider' 'startEndPoints' 'board';
}

.App .button {
  min-width: 10px;
  width: 10px;
}

.algorithm {
  grid-area: algorithm;
}
.algorithm h2 {
  margin-bottom: 10px;
}

.startEndPoints {
  grid-area: startEndPoints;
}

.slider {
  grid-area: slider;
}

.board {
  grid-area: board;
}

@media screen and (min-width: 400px) {
  .App {
    grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
    grid-template-areas: 'algorithm' 'slider' 'startEndPoints' 'board';
  }
}
